body {
  font-family: 'Roboto', sans-serif;
  background-image: url('https://images.unsplash.com/photo-1604147706283-d7119b5b822c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80');
  background-repeat: no-repeat;
  background-size: cover;
}
.navbar {
  background-color: #ffffff;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.navbar-logo img {
  height: 70px;

}

.navbar-links {
  display: flex;
  align-items: center;
}

.navbar-links a {
  margin: 0 20px 0px 50px;
  color: #333333;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}

.navbar-search {
  margin: 0 20px;
  padding: 0 10px;
}

.navbar-search form {
  display: flex;
}

.navbar-search input[type="text"] {
  padding: 8px;
  border: none;
  border-radius: 4px;
  background-color: #f5f5f5;
  font-size: 16px;
  width: 200px;
}

.navbar-search button[type="submit"] {
  padding: 8px;
  border: none;
  background-color: #f5f5f5;
  cursor: pointer;
}

.navbar-buttons {
  display: flex;
  align-items: center;
}

.navbar-button {
  margin-right: 10px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.navbar-button-primary {
  background-color: #ff4b4b;
  color: #ffffff;
}

.navbar-button:hover {
  opacity: 0.8;
}


.main1 {
margin-top: 100px;
}

#tr1 {
  text-align: center;
}

#tr2 {
  text-align: left;
}

#tr3 {
  text-align: left;
}

#h1_welcome {
  text-align: center;
}

#p1_welcome {
  text-align: center;
  margin-bottom: 30px;
}

.t1 {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.t2 {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.t3 {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.td1 {
  padding: 20px;
  text-align: center;
  vertical-align: top;
}

.td2 {
  padding: 20px;
  text-align: left;
  vertical-align: top;
}

.td3 {
  padding: 20px;
  text-align: left;
  vertical-align: top;
}

img {
  display: block;
  margin: 0 auto;
}

.h2 {
  color: black;
}

.h3 {
 color: cornflowerblue;
 margin-top: 20px;
}

.h4 {
  color: grey;
}

#main1 {
  margin-top: 100px;
}

.events-groups {
  display: block;
  margin-top: 50px;
  margin-bottom: 50px;
}

.info-bar
{
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.explore
{
  display: block;
  position: absolute;
  float: right;
}

.club-logo {
  width: 100px;
  height: 100px;
}

/*********************** FOOTER *************************/

footer {
  background-color: #222;
  color: #a7a7a7;
  font-size: 16px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
footer * {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  border: none;
  outline: none;
}
.row {
  padding: 1em 1em;
}
.row.primary {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: stretch;
}
.column {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 2em;
  min-height: 15em;
}
.h3_f {
  width: 100%;
  text-align: left;
  color: white;
  font-size: 1.4em;
  white-space: nowrap;
}
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
li:not(:first-child) {
  margin-top: 0.8em;
}
ul li a {
  color: #a7a7a7;
  text-decoration: none;
}
ul li a:hover {
  color: #2a8ded;
}
.about p {
  text-align: justify;
  line-height: 2;
  margin: 0;
}
#input_f, #b_f {
  font-size: 1em;
  padding: 1em;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 5px;
}

#b_f {
  background-color: #c7940a;
  color: #ffffff;
}
div.social {
  display: flex;
  justify-content: space-around;
  font-size: 2.4em;
  flex-direction: row;
  margin-top: 0.5em;
}
.social i {
  color: #bac6d9;
}

.copyright {
  padding: 0.3em 1em;
  background-color: #25262e;
}
.footer-menu{
  float: left;
    margin-top: 10px;
}

.footer-menu a{
  color: #cfd2d6;
  padding: 6px;

  text-decoration: none;
}
.footer-menu a:hover{
  color: #27bcda;
}
.copyright p {
  font-size: 0.9em;
  text-align: right;
}

/*********************** FOOTER *************************/